.body{
    background-color: #282c34;
   color: white;
   padding: 280px;
   margin: 40;
   font-family: Arial;
   text-align: center;
 }
 
 #title {
    text-align: center;
    font-size:4em;
 }            
 
 a {
    color: yellow;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }